# Ignore all .jpg and .png files in the data folder
data/**/*.jpg
data/**/*.png

# model checkpoints and best version
model/**/*.pth
model/**/*.tar

# model onnx and tensorrt engine
model/mrl_vgg16/*.onnx
model/mrl_vgg16/*.engine