# Ignore all .jpg and .png files in the data folder
#data/**/*.jpg
data/**/*.png
mrl_eye_dataset.zip

# model checkpoints and best version
models/**/*.pth
models/**/*.tar

# model onnx and tensorrt engine
models/**/*.onnx
models/**/*.engine

